<div class="max-w-md mx-auto mt-10">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{'Edit book' | translate}}</mat-card-title>
      <button mat-icon-button (click)="cancel()" aria-label="Close">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="save()">
        <mat-form-field appearance="fill" class="w-full mb-4">
          <mat-label>{{'Title' | translate}}</mat-label>
          <input matInput formControlName="title"  />
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full mb-4">
          <mat-label>{{'Author' | translate}}</mat-label>
          <input matInput formControlName="author" />
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full mb-6">
          <mat-label>{{'Genre' | translate}}</mat-label>
          <input matInput formControlName="genre" />
        </mat-form-field>
        <button mat-raised-button color="primary" class="w-full" type="submit" [disabled]="form.invalid">
          {{'Save' | translate}}
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
